{% extends "base.html" %} 
{% block content %}
{% load static %}

<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/BK_Pic_1200x1200px.jpg' %}" alt="Bruce Kieu" />
		</div>
		
		<div id="name">
			<h2 class="quickFade delayTwo">Bruce Kieu - Resume</h2>
			<h3 class="quickFade delayThree">Geophysicist - Datascientist - Web Developer</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class='fa fa-linkedin'></i> <a href="www.linkedin.com/in/binh-kieu/">www.linkedin.com/in/binh-kieu/</a></li>
				<li><i class="fa fa-github"></i> <a href=" https://github.com/BinhKieu82  "> https://github.com/BinhKieu82  </a></li>
				<li><span>&#9993;</span> <a href="mailto:brucekieu@gmail.com" target="_blank">brucekieu@gmail.com</a></li>
				<li><span>🏠</span> <a href="http://www.bloggs.com">www.bloggs.com</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am a motivated & committed MERN stack Web Developer with more than 1 year deep diving in many responsive web design projects. I also have 2.5 years intensive working on real-world data science projects from quantitative trading to education and commercial fields. Additionally I have 14 year experience as a Geophysicist in multi discipline Oil & Gas exploration and development projects.</p>
					<p>I have a well-rounded skill set in frontend & backend web development using MongoDB/SQL, Express/Django, React & NodeJS frameworks. And experience in Data Science Method (cleaning, visualization, feature engineering, statistics inference and modeling).</p>
					<p>Further, I’m a recognized expert in problem-solving and an excellent communicator with the ability to communicate and coordinate effectively across disciplinary and cultural boundaries.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Professional Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Web Development</h2>
					<p class="subDetails">Responsive Web Design - Full Stack</p>
					<p><a href="https://blog.pixeltree.ca/the-software-develop-idea-to-revitalize-downtown-calgary/">YYCHacks 2022, Calgary, Alberta, Canada. 3rd prize team, "Revitalization Calgary" Hackathon.</a></p>
					<p>Able to quickly create a <a href="https://github.com/BinhKieu82/Ubiqum_SportyShop">web</a>/<a href="https://github.com/BinhKieu82/MERN">mobile</a> application/prototype by Plotly-Dash framework or full-stack MERN.</p>
					<p>Passionate on programing using JavaScript & Python via VSCode IDE. </p>
					<p>Comfortable with CLI base OSs: Unix/Ubuntu; Versions control Github & Containerization technique Docker</p>
				</article>
				
				<article>
					<h2>Data Analytics</h2>
					<p class="subDetails">Petroleum  - Quant Analysis - Commerical</p>
					<p>14 years analyzing geophysical big data (seismic & well logs) using professional industry software to derive useful information for prospect evaluation & field development.</p>
					<p>2.5 years deep pythoning to mine (EDA & visualization) many type of data: well logs, seismic, stocks & other high dimensional data by well-known libraries/frameworks to summarize key characteristics & <a href="https://github.com/BinhKieu82/Springboard_Capstone2/blob/master/notebooks/05_finalversion.ipynb">discover patterns & insights</a>.</p>
					<p>Familiar with Airflow (create pipeline (ETL) from data-lake to data warehouse), MySQL/MongoDB, GoogleStudio/ PowerBI (create dashboard) and Big Data tools (PySpark, Google BigQuery)</p>
				</article>
				
				<article>
					<h2>Machine Learning</h2>
					<p class="subDetails">Geociences - Quant Trading</p>
					<p>Frequently building ML models for supervised regression, classification & unsupervised clustering purposes: log prediction (Linear, Random Forest, DNN, RNN LSTM, CNN Unet), <a href="https://www.smartscitech.com/index.php/IOGR/article/view/1203">seismic rock property inversion (CNN Unet)</a>, <a href="https://github.com/BinhKieu82/springboard_capstone3/blob/master/momentum_vnmarket.ipynb">multivariate stock returns regression</a> (OLS, ARIMA, Random Forest), stocks risk exposure clustering by PCA … with effective storytelling to stakeholders.</p>
				</article>

				<article>
					<h2>Academic</h2>
					<p class="subDetails">Geosciences - Oil & Gas</p>
					<p>Eagerly exposing to & absorbing new technology & challenges.</p>
					<p>Familiar with writing technical papers (<a href="https://www.smartscitech.com/index.php/IOGR/article/view/1203">DOI:10.14800/IOGR.1203</a>; <a href="https://onepetro.org/SPECTCE/proceedings-abstract/15CTCE/All-15CTCE/SPE-177322-MS/181788">SPE-177322-MS</a>; <a href="https://www.inderscienceonline.com/doi/abs/10.1504/IJOGCT.2021.117452">IJOGCT .2021.117452</a>; <a href="http://stdjet.scienceandtechnology.com.vn/index.php/stdjet/article/view/853">SI177-SI183</a>).</p>
					<p>Willing to technology transfer to colleagues (CLJOC, PVEP POC, SLB Malaysia & Beijing, VietSovPetro JV), young professionals (SPE technical days) & students (Visiting lecture at HCMUT, HCMUoS, PVU).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endblock %}