{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Article{% endblock %}
{% block content %}

<div class="container-fluid">  
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left form-group">
      <h2>Delete: {{ post.title }}</h2>
  <!--enctype is for uploading media data-->
      <form method="post" style="margin-top: 1.3em;">
        {% csrf_token %}
        <strong>Confirm delete?</strong><br/>
        <input type="submit" class="btn btn-secondary" value="Delete">
      </form>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>
<script src="{% static '/js/slugify.js' %}"></script>
{% endblock %}